html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5e7ce;        
  color: #2c2c2c;
}
app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main, .content {
  flex: 1;
}